[access]
	inheritFrom = All-Projects
[project]
	description = Portfolio
[access "refs/*"]
	owner = group user/Jarosław (Jvrekk)
[access "refs/for/refs/*"]
	read = group user/Jarosław (Jvrekk)
	push = group user/Jarosław (Jvrekk)
	label-Code-Review = -2..+2 group user/Jarosław (Jvrekk)
	label-Verified = -1..+1 group user/Jarosław (Jvrekk)
	rebase = group user/Jarosław (Jvrekk)
	removeReviewer = group user/Jarosław (Jvrekk)
	submit = group user/Jarosław (Jvrekk)
[access "refs/heads/*"]
	read = group user/Jarosław (Jvrekk)
	create = group user/Jarosław (Jvrekk)
	push = +force group user/Jarosław (Jvrekk)
	pushMerge = group user/Jarosław (Jvrekk)
[access "refs/tags/*"]
	push = group user/Jarosław (Jvrekk)
	push = +force group user/Jarosław (Jvrekk)
